.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inline-list {
  display: inline;
  padding: 15px 15px 15px 15px;
  font-size: 2em;

}

.navbar {
  list-style-type: none;
  margin-top: 15px;
  margin-left: 30px;
  padding: 0;
  color: #e23474;
}:visited {
   color: #e23474;
 }

code {
  font-weight: 800;
  color: #e23474;
}

.underline {
  text-decoration: underline;
}

.logo {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 15px;
}

.ui-link {
  margin-top: 15px;
  background: white;
  padding: 10px;
  border-radius: 3px;
  color: #e23474;
}
.ui-link:visited {
   color: #e23474;
 }
.ui-link:hover {
  background: lightgrey;
 }



 .list-item {
   list-style-type: none;
   padding-bottom: 15px;
 }